In [1]:
import pandas as pd

In [2]:
bicycle = pd.read_excel('AccidentesBicicletas_2018.xlsx')
bicycle

,FECHA,RANGO HORARIO,DIA SEMANA,DISTRITO,LUGAR ACCIDENTE,Nº,Nº PARTE,CPFA Granizo,CPFA Hielo,CPFA Lluvia,...,CPSV Grava Suelta,CPSV Hielo,CPSV Seca Y Limpia,* Nº VICTIMAS,TIPO ACCIDENTE,Tipo Vehiculo,TIPO PERSONA,SEXO,LESIVIDAD,Tramo Edad
0,2018-01-01,DE 13:00 A 13:59,LUNES,ARGANZUELA,CALLE DE ANCORA - PASEO DE LAS DELICIAS ...,0,2018/25,NO,NO,NO,...,NO,NO,SI,1,COLISIÓN DOBLE,BICICLETA,CONDUCTOR,HOMBRE,HL,DE 30 A 34 ANOS
1,2018-01-01,DE 15:00 A 15:59,LUNES,CENTRO,CALLE DE ALCALA NUM ...,44,2018/76,NO,NO,NO,...,NO,NO,SI,2,ATROPELLO,BICICLETA,CONDUCTOR,HOMBRE,HL,DE 25 A 29 AÑOS
2,2018-01-02,DE 12:00 A 12:59,MARTES,SALAMANCA,CALLE DE SERRANO - CALLE DEL CONDE DE ARANDA ...,0,2018/30,NO,NO,NO,...,NO,NO,SI,2,ATROPELLO,BICICLETA,CONDUCTOR,HOMBRE,HL,DE 40 A 44 AÑOS
3,2018-01-03,DE 13:00 A 13:59,MIERCOLES,SALAMANCA,PLAZA DE LA INDEPENDENCIA NUM ...,5,2018/94,NO,NO,NO,...,NO,NO,SI,1,COLISIÓN DOBLE,BICICLETA,CONDUCTOR,HOMBRE,HL,DE 50 A 54 AÑOS
4,2018-01-03,DE 15:00 A 15:59,MIERCOLES,CIUDAD LINEAL,CALLE DE RAMIREZ DE ARELLANO NUM ...,35,2018/361,NO,NO,NO,...,NO,NO,SI,1,COLISIÓN DOBLE,BICICLETA,CONDUCTOR,HOMBRE,HL,DE 25 A 29 AÑOS
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
695,2018-12-25,DE 12:00 A 12:59,MARTES,FUENCARRAL-EL PARDO,CALLE DE BRAOJOS NUM ...,10,2018/16468,NO,NO,NO,...,NO,NO,SI,1,CAÍDA BICICLETA,BICICLETA,CONDUCTOR,HOMBRE,HL,DE 25 A 29 AÑOS
696,2018-12-28,DE 9:00 A 9:59,VIERNES,CHAMARTIN,PASEO DE LA CASTELLANA - PASEO DE LA HABANA ...,0,2018/16651,NO,NO,NO,...,NO,NO,SI,1,COLISIÓN DOBLE,BICICLETA,CONDUCTOR,HOMBRE,HL,DE 25 A 29 AÑOS
697,2018-12-28,DE 14:00 A 14:59,VIERNES,CENTRO,CALLE DE GENOVA NUM ...,2,2018/16626,NO,NO,NO,...,NO,NO,SI,2,COLISIÓN DOBLE,BICICLETA,CONDUCTOR,HOMBRE,HL,DE 18 A 20 AÑOS
698,2018-12-29,DE 10:00 A 10:59,SABADO,TETUAN,CALLE DE BRAVO MURILLO NUM ...,105,2019/57,NO,NO,NO,...,NO,NO,SI,1,COLISIÓN DOBLE,BICICLETA,CONDUCTOR,HOMBRE,HL,DE 55 A 59 AÑOS
699,2018-12-29,DE 19:00 A 19:59,SABADO,CHAMBERI,CALLE DE SANTA ENGRACIA NUM ...,135,2018/16655,NO,NO,NO,...,NO,NO,SI,1,CAÍDA BICICLETA,BICICLETA,CONDUCTOR,HOMBRE,HL,DE 40 A 44 AÑOS

In [4]:
bicis = pd.read_excel('bicis_usos_acumulado.xls')
bicis

,DIA,Usos bicis abono anual,Usos bicis abono ocasional,Usos bicis total,Unnamed: 4,Usos abono anual acumulado,Usos abono ocasional acumulado,Usos total acumulado desde inicio,Unnamed: 8,Acumulado mes total,Unnamed: 10,Unnamed: 11
0,2014-06-23,20,79,99,NaN,20,79,99,NaN,NaN,NaN,NaN
1,2014-06-24,24,48,72,NaN,44,127,171,NaN,NaN,NaN,NaN
2,2014-06-25,105,14,119,NaN,149,141,290,NaN,NaN,NaN,NaN
3,2014-06-26,120,15,135,NaN,269,156,425,NaN,NaN,NaN,NaN
4,2014-06-27,131,18,149,NaN,400,174,574,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
2652,2021-09-26,8810,62,8872,NaN,23261650,365308,23626958,NaN,NaN,NaN,NaN
2653,2021-09-27,10769,15,10784,NaN,23272419,365323,23637742,NaN,NaN,NaN,NaN
2654,2021-09-28,11519,27,11546,NaN,23283938,365350,23649288,NaN,NaN,NaN,NaN
2655,2021-09-29,12335,26,12361,NaN,23296273,365376,23661649,NaN,NaN,NaN,NaN
2656,2021-09-30,12250,20,12270,NaN,23308523,365396,23673919,NaN,321191.0,NaN,NaN

In [5]:
abono = pd.read_excel('bicis_usuarios_abonos.xls')
abono

,Día,Altas nuevos usuarios activos ab. anual sin ttp día,Altas nuevos usuarios activos ab. anual con ttp día,Altas nuevos usuarios activos ab. anual total día,Unnamed: 4,Usuarios activos ab. anual sin ttp acumulado desde inicio,Usuarios activos ab. anual con ttp acumulado desde inicio,Usuarios activos ab. anual total acumulado desde inicio,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11
0,2014-06-23,47,44,91,NaN,47,44,91,NaN,NaN,NaN,NaN
1,2014-06-24,21,19,40,NaN,68,63,131,NaN,NaN,NaN,NaN
2,2014-06-25,193,180,373,NaN,261,243,504,NaN,NaN,NaN,NaN
3,2014-06-26,150,113,263,NaN,411,356,767,NaN,NaN,NaN,NaN
4,2014-06-27,185,155,340,NaN,596,511,1107,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
2652,2021-09-26,21,33,54,NaN,29558,42954,72512,NaN,NaN,NaN,NaN
2653,2021-09-27,18,37,55,NaN,29576,42991,72567,NaN,NaN,NaN,NaN
2654,2021-09-28,-10,-18,-28,NaN,29566,42973,72539,NaN,NaN,NaN,NaN
2655,2021-09-29,-55,-44,-99,NaN,29511,42929,72440,NaN,NaN,NaN,NaN
2656,2021-09-30,-11,6,-5,NaN,29500,42935,72435,NaN,NaN,NaN,NaN

In [7]:
total_accidentes = pd.read_excel('2018_Accidentalidad.xlsx')
total_accidentes

KeyboardInterrupt: